body {
	background: url(./../images/bg.jpg) no-repeat #fff center top;
	padding: 0;
	font-family: 'Trebuchet MS', Tahoma, sans-serif;
	font-size: 11px;
	margin: 0px auto auto auto;
	color: #616161;
}

p {
	padding: 2px;
	margin: 0px;
}

#main_container {
	margin: auto;
	padding: 0px;
}


/******************************************************************/
								/*events*/
/******************************************************************/

input:focus {
	background-color: yellow;
} 



/******************************************************************/
								/*header*/
/******************************************************************/
#header{
	min-height: 173px;
	margin: 0;
}


/*---------------- logo ----------------------*/

#logo{
	float: left;
	margin: 15px;
}

#logo img {
	border: 0;
	width: 237px;
	height: 140px;
}

/*---------------- advertisement ----------------------*/

#advertisement {
    float:left;
    margin:0;
    padding:0;
}

/*---------------- standartFileds ----------------------*/

#standartFileds {
    float: right;
}

/*---------------- Search ----------------------*/

.searchStyle {
	float: left;
	min-width: 290px;
	margin-top: 15px;
}

.leftBg, .rightBg {
	float: left;
	height: 71px;
	margin: 0;
	padding: 0;
}

.search {
	margin: 0;
	padding: 0;
	min-height: 71px;
	float: left;
	background: url(./../images/repeatBg.png) repeat-x center;
}

form#simplesearch label{
	display: none;
}

span.searchText {
	float: right;
	width: auto;
	padding: 7px 0px 0 10px;
	color: #999999;
}

span.searchText a {
	text-decoration:none;
	color:#999999;
}

input#searchButton {
	float:left;
	margin:15px 0 0 10px ;
}

input#searchBook {
	width:220px;
	height:18px;
	float:left;
	padding-left: 10px;
	margin:15px 0 0 0px ;
	border:1px solid #dbdbdb;
	border-bottom-color:#ffffff;
	border-right-color:#ffffff;
}

/*---------------- shopping cart ----------------------*/

.shoppingCartStyle {
	float: left;
	width: auto;
	margin-top: 15px;
	margin-left: 15px;
}

.shoppingCart {
	
	height: 71px;
	margin: 0;
	float: left;
	background: url(./../images/repeatBg.png) repeat-x center;
}

.shoppingCart img {
	float: left;
	padding-left: 4px;
	padding-top: 21px;
	padding-bottom: 21px;
}

.shoppingCart p {
	float: left;
	height: auto;
	padding-top: 28px;
	padding-bottom: 27px;
	padding-left: 0px;
	padding-right: 0px;
	color: #999
}

/*---------------- help ----------------------*/

.helpStyle {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	
}

.help {
	width: auto;
	min-height: 71px;
	margin: 0;
	float: left;
	background: url(./../images/repeatBg.png) repeat-x center;	
}
.help a {
	float: left;
	padding-top: 19px;
	padding-bottom: 19px;	
	text-decoration:none;
	color:#999999;	
}

.help p {
	float: left;
	height: auto;
	padding-top: 28px;
	padding-bottom: 27px;
	padding-left: 0px;
	padding-right: 0px;
	color: #999
}



/*---------------- header menu ----------------------*/

#headerMenuStyle{
    float: left;
	clear: both;
	width: 100%;
	min-height: 71px;
	background-color: #fff;
}

#leftBgMenu, #rightBgMenu {
	float: left;
	height: 71px;
	margin: 0;
	padding: 0;
	width: 1%;
}

ul.headerMenu {
	float: left; 
	margin: 0px; 
	padding: 0px;
	width: 98%; 
	min-height: 71px;
	display: block; 
	list-style-type:none; 
	background:url(./../images/repeatBg.png) repeat-x;
}

ul.headerMenu li {
    float: left;
	display:block;
	font-size:11px;
	font-weight:bold;
	background:url(./../images/repeatBg.png) repeat-x;
}

ul.headerMenu li.divider {
    float: left;
	width:2px;
	min-height: 71px;
	padding: 0;
	background:url(./../images/menu_divider.gif) no-repeat center;
}

li#navSelected {
    float:left; 
    display:block; 
    margin: 0;
    padding: 30px 12px 0px 12px; 
	min-width: 130px;		/*An 8elw na pira3w to mege8os tou menou alazw auto*/
	min-height: 41px;
	text-align: center;
	text-decoration:none; 
	color:#333333;
	background:url(./../images/selectedMenu.png);
	background-repeat:no-repeat;
	background-position: center 80%;
	
}

a.nav:link, a.nav:visited {
    float:left; 
    display:block; 
    margin: 0;
    padding:30px 12px 0px 12px;
	text-align: center;
	min-width: 130px;	/*An 8elw na pira3w to mege8os tou menou alazw auto*/
	min-height: 41px;
	text-decoration:none; 
	color:#676d77;	
}

a.nav:hover {
	color:#333333;
	background:url(./../images/selectedMenu.png);
	background-repeat:no-repeat;
	background-position: center 80%;
}

/*----------------crumb_navigation-------------*/

#crumbContainer {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    clear:both;
}

ul.crumb {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
	list-style-type: none; 
	overflow:auto;
    color:#333333;
}

li.crumb {
    float: left;
    display: inline;
}

li.crumbDivider {
	font-weight: bolder;
}
/*
li.crumbNavigation {
	float: left;
	display: block;	
	padding-left: 20px;	
	padding-right: 10px;	
	display: inline;
	*background:#98C8E5;*
	background:url(../images/navbullet.png);
	background-repeat:no-repeat;
	background-position:left;
	*color: #292929;)
	font-weight:bold;
}*/

a.crumb {
	float: left;
	display: block;
	padding-left: 10px;	
	padding-right: 10px;	
    color: #0FA0DD;
	text-decoration: none;
	/*background:url(../images/blue-arrow.png);
	background-repeat:no-repeat;
	background-position:left;	*/
}

a.crumb:hover, a.crumb:focus {
    text-decoration: underline;
	color: #333333;
}


/****************************************************
content
****************************************************/
#mainContent {
    float: left;
    clear: both;
}

/*---------------- centerContent -------------*/

.centerContent {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	/*border: 1px solid Black;8*/
}

/*---------------- left content -------------*/

.leftContent {
    width: 196px;
    float: left;
    margin-left: 10px;
}

.titleBox {
    width: 196px;
    height: 30px;
    margin: 5px 0 0 0;
    background: url(../images/menu_title_bg.gif) no-repeat center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: white;
    line-height: 30px;
}


ul.categoryMenu {
    width: 194px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 1px solid #7bbcc7;
}

li.categoryMenu {
    margin: 0;
    list-style: node;
}


a.categoryMenu {
    width: 164px;
    height: 25px;
    display: block;
    background: url(../images/leftMenu.png) no-repeat left #DAD0D0;
    background-position: 5px 5px;
    border-bottom: 1px white solid;
    text-decoration: none;
    color: #504B4B;
    padding: 0 0 0 30px;
    line-height: 25px;
}

a.categoryMenu:hover, a.categoryMenu:focus {
    background:url(../images/leftMenuSelected.png) no-repeat left #7bbcc7; 
    color:#FFFFFF;
    background-position:5px 5px;   
}

li.categoryMenuSelected {
    width: 164px;
    height: 25px;
    display: block;
    background:url(../images/leftMenuSelected.png) no-repeat left #7bbcc7;    
    background-position: 5px 5px;
    border-bottom: 1px white solid;
    text-decoration: none;
    color: #504B4B;
    padding: 0 0 0 30px;
    line-height: 25px;
}



/******************************************************************/
								/*footer*/
/******************************************************************/

.footer {
	float: left;
	clear:both;
	width: 100%;
	min-height: 65px;
	margin-top: 40px;
	background:url(../images/footer_bg.gif) repeat-x top;
}

/*---------------- left footer -------------*/

.leftFooter {
	float: left;
	width: 20%;
	padding-top: 2%;
	min-height: 65px;
}

.leftFooter img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}


/*---------------- center footer -------------*/

.centerFooter {
	float: left;
	width: 60%;
	text-align: center;
	padding-top: 2%;
	min-height: 65px;
}

#footerMenu {
	float: left;
	padding-left: 7.4%;
}

#footerMenu a {
	color: #616161;
	text-decoration: none;
}

#footerMenu a:hover,  #footerMenu a:focus{
	color: Black;
	text-decoration: underline;
}

/*---------------- right foter -------------*/

.rightFooter {
	float: left;
	width: 20%;
	padding-top: 2%;
	min-height: 65px;
}

.rightFooter #followUsOn {
	float: left;
	display: block;
	padding-left: 26%;
	
}

.rightFooter #followUsOn img {
	float: left;
}


/****************************************************
general 
****************************************************/


.clear{ clear: both; }


.skipButton { display: none; }

.hiddenFieldset {
	border: 0px solid; 
	padding: 0; 
	margin-left: 0;
	margin-right: 0;
}

.post {
	float: left;
	text-align: left;
	margin: 0;
	padding: 0;
	background: white url(../images/gradientbg.jpg) repeat-x;
	border: 1px solid #EFEDED;
}

.post h1 {
	border-bottom: 1px solid #F2F2F2;
	font: normal 1.5em 'Trebuchet MS', Tahoma, Sans-serif;
}
.post h1 span.text {
	padding: 10px 0px 5px 0px;
	margin: 0 0 0 10px;
}

.post .postContent {
	clear: both;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.post .box {
	float: left;
	margin: 0;
	padding: 0;
}

.post .box .boxContents{
	float: left;
	margin: 10px;
	border: 1px solid Black;
	padding: 10px;
}

.post .postFooter {
	
	background-color: #FAFAFA;
	border: 1px solid #f2f2f2;
	padding: 5px; 
	margin-top: 20px;
	font-size: 95%;
}