/****************************************************
forms 
****************************************************/

.centerContentCell input, 
.centerContentCell select 
{ margin-bottom: 5%; }

.centerContentCell label {
    font-family: 'Trebuchet MS', Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	display: block 
}

.centerContentCell legend {	
	background: #f7f7f7;
	border: 0px solid #781351;
	font-size: 13px;
	margin: 0px auto auto auto;
	color: #000000;
	font-weight:bold;
}

.centerContentCell fieldset {
    float: left;
    border: 1px solid black;
    color: #000;
    display: block; 
}

.centerContentCell .submit input {
	color: #000;
	border: 2px outset #d7b9c9;
	margin-left: 35%;
	margin-top: 5%;
}

.centerContentCell .box form { float: left; }

.centerContentCell #wrapper { width: 100%; }

.centerContentCell #leftdv {
	width: 48%;
	Text-align:center;
	float:left;
}

.centerContentCell #rightdv {
	margin-left: 2%;
	width: 48%;
	Text-align:center;
	float:right;
}

.centerContentCell .required { color: red; }

.centerContentCell .error { background: #ffcc99; }
/** marigianna - end **/


/* ----------------- koutsop ----------------- */
.centerContentCell .formLayer {
    float: left;
    width: 100%;
    display: block; 
}

.centerContentCell .formLayer .leftFormLayer, 
.centerContentCell .formLayer .rightFormLayer {
    float: left;
    width: 50%;
    display: block; 
}

.centerContentCell .redBox {
    border: 1px solid #FF3333;
    padding: 5px;
}
