/****************************************************
forms 
****************************************************/

form 
{
	/*width: 30em;*/
}

input,select
{
	margin-bottom: 5%;
}

label {
font-family: 'Trebuchet MS', Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	display: block 
}

legend
{	
	background: #f7f7f7;
	border: 0px solid #781351;
	font-size: 13px;
	margin: 0px auto auto auto;
	color: #000000;
	font-weight:bold;
}

fieldset
{
border: 1px solid black;
color: #000;
}

.submit input
{
color: #000;
border: 2px outset #d7b9c9;
margin-left: 35%;
margin-top: 5%;
}

.box form
{
	border: none;
}

#wrapper
{
Width:80%;
}

#leftdv
{
width: 50%;
Text-align:center;
float:left;
}

#rightdv
{
width: 30%;
Text-align:center;
float:right;
}

.required
{
	color: red;
}

.error
{
	background: #ffcc99;
	
}
/** marigianna - end **/


/* ----------- koutsop ----------------- */
.leftFormLayer, rightFormLayer {
    float: left;
    width: 50%;
}
