body {
	background: url(./../images/bg.jpg) no-repeat #fff center top;
	padding: 0;
	font-family: 'Trebuchet MS', Tahoma, sans-serif;
	font-size: 11px;
	margin: 0px auto auto auto;
	color: #f7f7f7;
}

p {
	padding: 2px;
	margin: 0px;
}

#main_container {
	margin: auto;
	padding: 0px;
}


/******************************************************************/
								/*events*/
/******************************************************************/

input:focus {
	background-color: yellow;
} 



/******************************************************************/
								/*header*/
/******************************************************************/
#header{
	min-height: 173px;
	/*background: url(./../images/header_bg.jpg) no-repeat center;*/
	/*border: 2px solid Black;*/
	background-position: 0px 0px;
	margin: 15px auto auto auto;
}


/*---------------- logo ----------------------*/

#logo{
	float: left;
	margin: 15px;
}

#logo img {
	border: 0;
	width: 237px;
	height: 140px;
}

/*---------------- advertisement ----------------------*/

#advertisement {
    float:left;
    margin:0;
    padding:0;
}

/*---------------- standertFileds ----------------------*/

#standertFileds {
    float: right;
}

/*---------------- Search ----------------------*/

.searchStyle {
	float: left;
	margin-top: 15px;
}
/*TODO to leftBG kai to rightBG na exoun to idio name*/
.leftBg {
	float: left;
	min-height: 71px;
	margin: 0;
	padding: 0;
}

.rightBg {
	float: left;
	min-height: 71px;
	margin: 0;
	padding: 0;
}

.search {
	width: auto;
	min-height: 71px;
	margin: 0;
	float: left;
	background: url(./../images/repeatBg.png) repeat-x center;
}

span.search_text{
	float: right;
	width: auto;
	padding: 7px 0px 0 10px;
	color: #999999;
}

span.search_text a{
	text-decoration:none;
	color:#999999;
}

.search_bt{
	float:left;
	margin:15px 0 0 10px ;
}

input.search_input{
	width:220px;
	height:18px;
	float:left;
	padding-left: 10px;
	margin:15px 0 0 0px ;
	border:1px solid #dbdbdb;
	border-bottom-color:#ffffff;
	border-right-color:#ffffff;
}

/*---------------- shopping cart ----------------------*/

.shoppingCartStyle {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

.shoppingCart {
	width: auto;
	height: 71px;
	margin: 0;
	float: left;
	background: url(./../images/repeatBg.png) repeat-x center;
}

.shoppingCart img {
	float: left;
	padding-top: 12px;
	padding-bottom: 11px;
}

.shoppingCart p {
	float: left;
	height: auto;
	padding-top: 28px;
	padding-bottom: 27px;
	padding-left: 0px;
	padding-right: 0px;
	color: #999
}

/*---------------- hellp ----------------------*/

.hellpStyle {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	
}

.hellp {
	width: auto;
	min-height: 71px;
	margin: 0;
	float: left;
	background: url(./../images/repeatBg.png) repeat-x center;	
}


span.hellpLink{
	float: right;
	width: auto;
	padding-top: 28px;
	padding-bottom: 27px;
	color: #999999;
}

span.hellpLink a{
	text-decoration:none;
	color:#999999;
}


/*---------------- header menu ----------------------*/

#headerMenuStyle{
	clear: both;
	width: 100%;
	height: 50px;
	background-color: #fff;
}

#leftBgMenu {
	float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 1%;
}

#rightBgMenu {
    float: left;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 1%;
}

ul.headerMenu {
	list-style-type:none; 
	float:left; 
	display:block; 
	width:98%; 
	margin:0px; 
	padding:0px;
	background:url(./../images/repeatBg.png) repeat-x;
}

ul.headerMenu li {
    float: left;
	display:block;
	font-size:11px;
	font-weight:bold;
	padding-top: 20px;
	background:url(./../images/repeatBg.png) repeat-x;
}
ul.headerMenu li.divider {
    float: left;
	display:inline;
	width:2px;
	height:30px;
	float:left;
	background:url(./../images/menu_divider.gif) no-repeat center;
}

a.navSelected:link {
	display:block; 
	float:left; 
	padding:0px 12px 0px 12px; 
	margin:0 14px 0 14px;
	height:30px;
	text-decoration:none; 
	color:#676d77;	
	/*color:#333333;*/
	background:url(./../images/selectedMenu.png);
	background-repeat:no-repeat;
	background-position: center 70%;
	
}

a.nav:link, a.nav:visited {
	display:block; 
	float:left; 
	padding:0px 12px 0px 12px; 
	margin:0 14px 0 14px;
	height:30px;
	text-decoration:none; 
	color:#676d77;
}

a.nav:hover {
	color:#333333;
	background:url(./../images/selectedMenu.png);
	background-repeat:no-repeat;
	background-position: center 70%;
}

/*----------------crumb_navigation-------------*/

#crumbContainer {
    /*border: 1px solid Black;*/
    float: left;
    width: 100%;
}

ul.crumb {
    float: left;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;

	width: 100%;
	list-style-type: none; 
	overflow:auto;
    color:#333333;
}

li.crumb {
    display: inline;
}

li.crumbNavigation {
	float: left;
	display: block;	
	padding-left: 20px;	
	padding-right: 10px;	
	display: inline;
	/*background:#98C8E5;*/
	background:url(../images/navbullet.png);
	background-repeat:no-repeat;
	background-position:left;
	/*color: #292929;*/
	font-weight:bold;
}

a.crumb {
	float: left;
	display: block;
	padding-left: 25px;	
	padding-right: 10px;	
    color: #0FA0DD;
	text-decoration: none;
	background:url(../images/blue-arrow.png);
	background-repeat:no-repeat;
	background-position:left;	
}

a.crumb:hover, a.crumb:focus {
    text-decoration: underline;
	color: #333333;
}


/****************************************************
content
****************************************************/
#mainContent {
    clear:both;
}

/*---------------- left_content -------------*/

.leftContent {
    width: 196px;
    float: left;
    margin-left: 10px;
}

.titleBox {
    width: 196px;
    height: 30px;
    margin: 5px 0 0 0;
    background: url(../images/menu_title_bg.gif) no-repeat center;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: white;
    line-height: 30px;
}


ul.leftMenu {
    width: 194px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border: 1px solid #7bbcc7;
}

li.leftMenu {
    margin: 0;
    list-style: node;
}


a.leftMenu {
    width: 164px;
    height: 25px;
    display: block;
    background: url(../images/leftMenu.png) no-repeat left #DAD0D0;
    background-position: 5px 5px;
    border-bottom: 1px white solid;
    text-decoration: none;
    color: #504B4B;
    padding: 0 0 0 30px;
    line-height: 25px;
}

a.leftMenu:hover, a.leftMenu:focus {
    background:url(../images/leftMenuSelected.png) no-repeat left #7bbcc7; 
    color:#FFFFFF;
    background-position:5px 5px;   
}

li.leftMenuSelected {
    width: 164px;
    height: 25px;
    display: block;
    background:url(../images/leftMenuSelected.png) no-repeat left #7bbcc7;    
    background-position: 5px 5px;
    border-bottom: 1px white solid;
    text-decoration: none;
    color: #504B4B;
    padding: 0 0 0 30px;
    line-height: 25px;
}

/****************************************************
general 
****************************************************/


.clear{ clear: both; }
