/* 
    Document   : pages
    Created on : Dec 21, 2011, 12:37:42 PM
    Author     : Marigianna
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* 
    Document   : index
    Created on : 20 Δεκ 2011, 5:24:26 μμ
    Author     : koutsop
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*
body {
        
	margin: 20%;
        margin-top: 5%;
	padding: 0;
    display: block;
     font-size: 14px;
      font-family: "Times New Roman", Courier, Garamond, serif;
}
*/

.page
{
    overflow-x: hidden;
    overflow-y: scroll;
    clear: both;
}
article
{
    /*margin: 20%;
        margin-top: 5%;
	padding: 0;*/
    display: block;
     font-size: 13px;
      
      width: 430px;
      height: 530px;
      clear: both;
}

img
{
    max-width: 300px;
}


img.middle{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p
{text-align: justify;
font-family:'Comic Sans MS';
clear: both;
}

#content {
	position:relative;
	z-index:1;
}

footer
{

    font-size: 11px;
    text-align: center;
}

header h1
{
    font-family:'Comic Sans MS';
    font-size: 15px;
    font-weight: bold; 
    text-align: center;
}

section
{
    margin: 5%;    
    clear: both;
}

h3
{
    color: #ffffff;
    font-size: 15px;
    font-weight: bold; 
    text-align: center;
}

.finalPage p
{
    font-size: 18px;
    text-align: center;
}


.finalPage h1
{
    font-size: 18px;
    
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccc; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}